.footer
  background-color: #989898
  padding: 20px 0
  &-wrapper
    display: flex
    justify-content: space-between
    align-items: center
  &__copyright
    font-weight: 700
  &__github
    width: 40px
    height: 40px
  &__logo
    width: 80px
